.commentarea
  .panestack-title
    span.title all ??? comments
  .menuarea
    //-.spacer
      span.dropdown-title.lightdrop sorted by: 
      .dropdown.lightdrop(onclick='open_menu(this)')
        span.selected best
      .drop-choices.lightdrop
        a.choice(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/?sort=top') top
        a.choice(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/?sort=new') new
        a.hidden.choice(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/?sort=hot') hot
        a.choice(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/?sort=controversial') controversial
        a.choice(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/?sort=old') old
        a.hidden.choice(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/?sort=random') random
        a.choice(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/?sort=qa') q&a
    .spacer
  .sitetable.nestedlisting
      include comment
      .child
        .sitetable.listing
          include comment
          //- .thing.id-t1_ctg12ep.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg12ep')
          //-   p.parent
          //-     a(name='ctg12ep')
          //-   .midcol.unvoted
          //-     .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
          //-     .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
          //-   .entry.unvoted
          //-     p.tagline
          //-       a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
          //-       a.author.may-blank.id-t2_f12eh(href='http://www.reddit.com/user/rockingBit') rockingBit
          //-       span.userattrs
          //-       span.score.dislikes 6 points
          //-       span.score.unvoted 7 points
          //-       span.score.likes 8 points
          //-       time.live-timestamp(title='Sat Jul 25 21:09:54 2015 UTC', datetime='2015-07-25T21:09:54+00:00') 5 hours ago
          //-       a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
          //-     form#form-t1_ctg12epmg5.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
          //-       input(type='hidden', name='thing_id', value='t1_ctg12ep')
          //-       .usertext-body.may-blank-within.md-container
          //-         .md
          //-           p
          //-             | Full movie here: 
          //-             a(href='https://www.youtube.com/watch?v=ldLg5o78eUc') https://www.youtube.com/watch?v=ldLg5o78eUc
          //-     ul.flat-list.buttons
          //-       li.first
          //-         a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg12ep', rel='nofollow') permalink
          //-       li.comment-save-button.save-button
          //-         a(href='javascript:void(0)') save
          //-       li
          //-         a.bylink(href='#ctfy4m0', rel='nofollow') parent
          //-       li.report-button
          //-         a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
          //-       li.give-gold-button
          //-         a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg12ep', title='give reddit gold in appreciation of this post.') give gold
          //-       li.reply-button
          //-         a(href='javascript:void(0)', onclick='return reply(this)') reply
          //-   .child
          //-   .clearleft
          .clearleft

          .thing.id-t1_ctg06q2.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg06q2')
            p.parent
              a(name='ctg06q2')
            .midcol.unvoted
              .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
              .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            .entry.unvoted
              p.tagline
                a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
                a.author.may-blank.id-t2_f5wtc(href='#') i_can_get_you_a_toe
                span.userattrs
                span.score.dislikes 4 points
                span.score.unvoted 5 points
                span.score.likes 6 points
                time.live-timestamp(title='Sat Jul 25 20:41:46 2015 UTC', datetime='2015-07-25T20:41:46+00:00') 6 hours ago
                a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (1 child)
              form#form-t1_ctg06q2cwl.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
                input(type='hidden', name='thing_id', value='t1_ctg06q2')
                .usertext-body.may-blank-within.md-container
                  .md
                    p
                      | more text...
              ul.flat-list.buttons
                li.first
                  a.bylink(href='#', rel='nofollow') permalink
                li.comment-save-button.save-button
                  a(href='javascript:void(0)') save
                li
                  a.bylink(href='#ctfy4m0', rel='nofollow') parent
                li.report-button
                  a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
                li.give-gold-button
                  a.give-gold.login-required(href='#', title='give reddit gold in appreciation of this post.') give gold
                li.reply-button
                  a(href='javascript:void(0)', onclick='return reply(this)') reply
            .child
              #siteTable_t1_ctg06q2.sitetable.listing
                include comment
                //- .thing.id-t1_ctg4fsr.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg4fsr')
                //-   p.parent
                //-     a(name='ctg4fsr')
                //-   .midcol.unvoted
                //-     .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
                //-     .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
                //-   .entry.unvoted
                //-     p.tagline
                //-       a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
                //-       a.author.may-blank.id-t2_h8nlg(href='http://www.reddit.com/user/whatsabitcoins') whatsabitcoins
                //-       span.userattrs
                //-       span.score.dislikes 1 point
                //-       span.score.unvoted 2 points
                //-       span.score.likes 3 points
                //-       time.live-timestamp(title='Sat Jul 25 22:59:28 2015 UTC', datetime='2015-07-25T22:59:28+00:00') 3 hours ago
                //-       a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
                //-     form#form-t1_ctg4fsrzyq.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
                //-       input(type='hidden', name='thing_id', value='t1_ctg4fsr')
                //-       .usertext-body.may-blank-within.md-container
                //-         .md
                //-           p Found it...and by 3 0'clock this afternoon with nail polish.
                //-           p
                //-             a(href='https://www.youtube.com/watch?v=nzG7acB-Xs4', rel='nofollow') https://www.youtube.com/watch?v=nzG7acB-Xs4
                //-     ul.flat-list.buttons
                //-       li.first
                //-         a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg4fsr', rel='nofollow') permalink
                //-       li.comment-save-button.save-button
                //-         a(href='javascript:void(0)') save
                //-       li
                //-         a.bylink(href='#ctg06q2', rel='nofollow') parent
                //-       li.report-button
                //-         a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
                //-       li.give-gold-button
                //-         a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg4fsr', title='give reddit gold in appreciation of this post.') give gold
                //-       li.reply-button
                //-         a(href='javascript:void(0)', onclick='return reply(this)') reply
                //-   .child
                //-   .clearleft
                .clearleft
            .clearleft
          .clearleft
          include comment
          //- .thing.id-t1_ctg2pqw.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg2pqw')
          //-   p.parent
          //-     a(name='ctg2pqw')
          //-   .midcol.unvoted
          //-     .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
          //-     .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
          //-   .entry.unvoted
          //-     p.tagline
          //-       a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
          //-       a.author.may-blank.id-t2_eyhz1(href='http://www.reddit.com/user/crimi666') crimi666
          //-       span.userattrs
          //-       span.score.dislikes 1 point
          //-       span.score.unvoted 2 points
          //-       span.score.likes 3 points
          //-       time.live-timestamp(title='Sat Jul 25 22:03:07 2015 UTC', datetime='2015-07-25T22:03:07+00:00') 4 hours ago
          //-       a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
          //-     form#form-t1_ctg2pqwtzw.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
          //-       input(type='hidden', name='thing_id', value='t1_ctg2pqw')
          //-       .usertext-body.may-blank-within.md-container
          //-         .md
          //-           p
          //-             a(href='http://i.imgur.com/PLs1TBV.gif', rel='nofollow') http://i.imgur.com/PLs1TBV.gif
          //-     ul.flat-list.buttons
          //-       li.first
          //-         a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg2pqw', rel='nofollow') permalink
          //-       li.comment-save-button.save-button
          //-         a(href='javascript:void(0)') save
          //-       li
          //-         a.bylink(href='#ctfy4m0', rel='nofollow') parent
          //-       li.report-button
          //-         a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
          //-       li.give-gold-button
          //-         a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg2pqw', title='give reddit gold in appreciation of this post.') give gold
          //-       li.reply-button
          //-         a(href='javascript:void(0)', onclick='return reply(this)') reply
          //-   .child
          //-   .clearleft
          .clearleft
      .clearleft
    .clearleft