doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='en', xml:lang='en')
  head
    title Awesome
    meta(name='keywords', content=' reddit, reddit.com, vote, comment, submit ')
    meta(name='description', content='reddit: the front page of the internet')
    meta(name='referrer', content='always')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='alternate', media='only screen and (max-width: 640px)', href='https://m.reddit.com/r/CoinAwesome/')
    meta(name='viewport', content='width=1024')
    meta(property='og:image', content='https://www.redditstatic.com/icon.png')
    meta(property='og:site_name', content='reddit')
    meta(property='og:description', content='A community dedicated to CoinAwesome, *the currency of the Internet*. CoinAwesome is a distributed, worldwide, decentralized digital money. CoinAwesomes are...')
    meta(property='og:title', content='CoinAwesome • /r/CoinAwesome')
    meta(property='twitter:site', content='reddit')
    meta(property='twitter:card', content='summary')
    meta(property='twitter:title', content='CoinAwesome • /r/CoinAwesome')
    link(rel='icon', href='//www.redditstatic.com/icon.png', sizes='256x256', type='image/png')
    link(rel='shortcut icon', href='//www.redditstatic.com/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon-precomposed', href='//www.redditstatic.com/icon-touch.png')
    //- link(rel='alternate', type='application/rss+xml', title='RSS', href='http://www.reddit.com/r/CoinAwesome/.rss')
    link(rel='stylesheet', type='text/css', href='/stylesheets/reddit.css', media='all')
    link(rel='stylesheet', type='text/css', href='/stylesheets/leeward.css', media='all')
    //- link(rel='stylesheet', type='text/css', href='/stylesheets/sticky.css', media='all')
    //- link(rel='stylesheet', type='text/css', href='/stylesheets/discovery.css', media='all')
    //- link(rel='stylesheet', type='text/css', href='/stylesheets/red-naut.css', media='all')
    //- link(rel='stylesheet', type='text/css', href='//www.redditstatic.com/reddit.-QJq92tU9mk.css', media='all')
    //- // [if gte IE 8] <!
    //- link(rel='stylesheet', href='http://b.thumbs.redditmedia.com/CUX_CkWXBZU_eEyxrXXiPcUDE1_Zj2yG5hsrOjL8vOw.css', title='applied_subreddit_stylesheet', type='text/css')
    //- // <![endif]
    //- // [if gte IE 9] <!
    //- script(type='text/javascript', src='//www.redditstatic.com/reddit-init.en.amVKk3JOvp4.js')
    //- // <![endif]
    //- //if lt IE 9
    //-   script(type='text/javascript', src='//www.redditstatic.com/reddit-init-legacy.en.oOlxam-H0AI.js')
    //- script#config(type='text/javascript').
    //-   r.setup({"ajax_domain": "www.reddit.com", "is_fake": false, "server_time": 1437320216.0, "post_site": "CoinAwesome", "clicktracker_url": "//pixel.redditmedia.com/click", "cache_policy": "loggedout_www", "facebook_app_id": "322647334569188", "renderstyle": "html", "modhash": false, "stats_domain": "https://stats.redditmedia.com", "store_visits": false, "anon_eventtracker_url": "//pixel.redditmedia.com/pixel/of_diversity.png", "cur_domain": "reddit.com", "has_subscribed": false, "send_logs": true, "gold": false, "is_sponsor": false, "pageInfo": {"actionName": "hot.GET_listing", "verification": "adfad553bf3b6c42e703170c536073e9c1f952f0"}, "uitracker_url": "//pixel.redditmedia.com/pixel/of_discovery.png", "https_forced": false, "https_endpoint": "https://www.reddit.com", "user_id": false, "eventtracker_url": "//pixel.redditmedia.com/pixel/of_delight.png", "extension": null, "status_msg": {"fetching": "fetching title...", "loading": "loading...", "submitting": "submitting..."}, "poisoning_canary": null, "logged": false, "stats_sample_rate": "5", "new_window": false, "tracker_url": "//pixel.redditmedia.com/pixel/of_destiny.png?v=aTHg%2BFtTh9SgoZuJDpQWbsqMaweNG0DzRFZvkDIiJgnYm26zzYa%2F2jOKHa03Ng%2FR0lb%2BqS%2FjKKI%3D", "vote_hash": "A0zR2/MLlq4z2blbbtNqZX0qZ/fy/oWJKNAOpCVf5DGWYvxBXb5WRQS8fK6VcHsvweRwkl55Mu1hpHLBXfEDcO8jXLWjJp79td9GJ7vCQT7rIybV5yBfqXxgcMJGa/NHsG/oVb7gxeA4VKWbAtENyndE3Lfi4rkyOD5yA9tscJ3GvJQCqvykDGY=", "poisoning_report_mac": null, "debug": false, "static_root": "//www.redditstatic.com", "adtracker_url": "//pixel.redditmedia.com/pixel/of_doom.png", "mweb_blacklist_expressions": ["^/prefs/?", "^/live/?", "/message/", "/wiki/?", "/m/", "^/subreddits/create", "/submit", "^/r/[^/]+/about/", "^/gold", "^/advertising", "^/promoted", "^/rules", "^/buttons"], "over_18": false})
    //- script(type='text/javascript').
    //-   reddit.cur_site = "t5_2s3qj";
    //- style(type='text/css').
    //-   /* Custom css: use this block to insert special translation-dependent css in the page header */
    //- script(type='text/javascript').
    //-   window.user_type = 'guest'; window.is_gold_page = 'False'.toLowerCase() === 'true';
    //- script(type='text/javascript').
    //-   var _gaq = _gaq || []; _gaq.push( ['_require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js'], ['_setAccount', 'UA-12131688-1'], ['_setDomainName', 'reddit.com'], ['_setCustomVar', 1, 'site', 'CoinAwesome', 3], ['_setCustomVar', 2, 'srpath', 'CoinAwesome-GET_listing', 3], ['_setCustomVar', 3, 'usertype', user_type, 2], ['_setCustomVar', 4, 'uitype', 'web', 3], ['_setCustomVar', 5, 'style_override', '', 2], ['_setSampleRate', '50'], ['_trackPageview'] ); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
  body.listing-page.hot-page
    include bodyStart
    
    a(name='content')
    .content(role='main')
      section.infobar.newsletterbar.newsletter-container(hidden='')
        header
          h1.subscribe-callout
            a(href='/newsletter')
              img(src='//www.redditstatic.com/subscribe-header.svg', alt='subscribe to our newsletter')
          .subscribe-thanks
            img(src='//www.redditstatic.com/subscribe-header-thanks.svg', alt="_('thanks for subscribing')")
          h2.result-message get the best of reddit, delivered once a week
        form.newsletter-signup.form-v2.c-form-inline(method='post', action='https://www.reddit.com/api/newsletter.json')
          input(type='hidden', name='uh', value='')
          input(type='hidden', name='source', value='newsletterbar')
          .c-form-group
            label.screenreader-only(for='email') email:
            input.c-form-control(value='', name='email', type='email', placeholder='enter your email', data-validate-url='/api/check_email.json', data-validate-on='change blur')
            .c-form-control-feedback-wrapper.inside-input
              span.c-form-control-feedback.c-form-control-feedback-throbber
              span.c-form-control-feedback.c-form-control-feedback-error(title='')
              span.c-form-control-feedback.c-form-control-feedback-success
          button.c-btn.c-btn-highlight(type='submit') subscribe
        a.newsletter-close(href='#', title='close') ×
      //-.spacer
        #siteTable_organic.organic-listing.loading
          .help.help-hoverable
            | what's this?
            #spotlight-help.hover-bubble.help-bubble.anchor-top
              .help-section.help-promoted
                p
                  | This sponsored link is an advertisement generated with our 
                  a(href='http://www.reddit.com/wiki/selfserve') self-serve advertisement tool
                  | .
                p
                  | Use of this tool is open to all members of reddit.com, and for as little as $20.00 you can advertise in this area. 
                  a(href='http://www.reddit.com/advertising') Get started ›
              .help-section.help-adserver
                p
                  | This is a new ad format that we are currently testing. We often try new types of ads in a limited capacity. If you have feedback, please let us know in the 
                  a(href='http://www.reddit.com/r/ads') ads subreddit
                  | .
              .help-section.help-organic
                p
                  | This area shows new and upcoming links. Vote on links here to help them become popular, and click the forwards and backwards buttons to view more.
              .help-section.help-interestbar
                p
                  | Enter a keyword or topic to discover new subreddits around your interests. Be specific!
                p
                  | You can access this tool at any time on the 
                  a(href='http://www.reddit.com/subreddits/') /subreddits/
                  |  page.
        script.
          r.spotlight.setup( [], 0.0, true, "CoinAwesome" )
      .spacer
        style.
          body >.content .link .rank, .rank-spacer { width: 6.2ex } body >.content .link .midcol, .midcol-spacer { width: 4.1ex } .adsense-wrap { background-color: #eff7ff; font-size: 18px; padding-left: 6.3ex; padding-right: 5px; };
          body .pagename a {  background-image: 'http://coinawesome.com/awesome/coinAwesomeBW50.png' !important}
        #siteTable.sitetable.linklisting
          //- each tip in tips
          //-   .thing.id-t3_2yxy2x.odd.gilded.stickied.link.self(onclick='click_thing(this)', data-fullname='t3_2yxy2x')
          //-     p.parent
          //-     span.rank
          //-     .midcol.unvoted
          //-       .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
          //-       .score.dislikes 430
          //-       .score.unvoted 431
          //-       .score.likes 432
          //-       .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
          //-     a.thumbnail.self.may-blank(href='/r/CoinAwesome/comments/2yxy2x/rbitcoin_faq_newcomers_please_read/')
          //-     .entry.unvoted
          //-       p.title
          //-         a.title.may-blank(href='/r/CoinAwesome/comments/2yxy2x/rbitcoin_faq_newcomers_please_read/', tabindex='1') /r/CoinAwesome FAQ - Newcomers please read
          //-         span.domain
          //-           | (
          //-           a(href='/r/CoinAwesome/') self.CoinAwesome
          //-           | )
          //-       .expando-button.collapsed.selftext
          //-       p.tagline
          //-         | submitted 
          //-         time.live-timestamp(title='Fri Mar 13 19:36:58 2015 UTC', datetime='2015-03-13T12:36:58-07:00') 4 months ago
          //-         time.edited-timestamp(title='last edited 1 month ago', datetime='2015-06-12T08:29:00+00:00') *
          //-         |  by 
          //-         a.author.moderator.may-blank.id-t2_d7sse(href='http://www.reddit.com/user/BashCo') BashCo
          //-         span.userattrs
          //-           | [
          //-           a.moderator(title='moderator of /r/CoinAwesome, speaking officially', href='/r/CoinAwesome/about/moderators') M
          //-           | ]
          //-         |  - 
          //-         span.stickied-tagline(title="selected by this subreddit's moderators") stickied post
          //-       ul.flat-list.buttons
          //-         li.first
          //-           a.comments.may-blank(href='http://www.reddit.com/r/CoinAwesome/comments/2yxy2x/rbitcoin_faq_newcomers_please_read/') 95 comments
          //-         li.share
          //-           a.post-sharing-button(href='javascript: void 0;') share
          //-       .expando(style='display: none')
          //-         span.error loading...
          //-     .child
          //-     .clearleft
          //-   .clearleft
