head
  title Awesome
  meta(name='keywords', content=' awesome, coinawesome, blockchain, vote, comment, submit ')
  meta(name='description', content='Awesome: the most awesome stuff online')
  meta(name='referrer', content='always')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  //- link(rel='alternate', media='only screen and (max-width: 640px)', href='https://m.reddit.com/r/CoinAwesome/')
  meta(name='viewport', content='width=1024')
  //- meta(property='og:image', content='https://www.redditstatic.com/icon.png')
  //- meta(property='og:site_name', content='reddit')
  //- meta(property='og:description', content='A community dedicated to CoinAwesome, *the currency of the Internet*. CoinAwesome is a distributed, worldwide, decentralized digital money. CoinAwesomes are...')
  //- meta(property='og:title', content='CoinAwesome • /r/CoinAwesome')
  //- meta(property='twitter:site', content='reddit')
  //- meta(property='twitter:card', content='summary')
  //- meta(property='twitter:title', content='CoinAwesome • /r/CoinAwesome')
  //- link(rel='icon', href='//www.redditstatic.com/icon.png', sizes='256x256', type='image/png')
  //- link(rel='shortcut icon', href='//www.redditstatic.com/favicon.ico', type='image/x-icon')
  //- link(rel='apple-touch-icon-precomposed', href='//www.redditstatic.com/icon-touch.png')
  //- link(rel='alternate', type='application/rss+xml', title='RSS', href='http://www.reddit.com/r/CoinAwesome/.rss')
  
  link(rel='stylesheet', type='text/css', href='/stylesheets/reddit.css', media='all')
  link(rel='stylesheet', type='text/css', href='/stylesheets/leeward.css', media='all')
  
  //- link(rel='stylesheet', type='text/css', href='/stylesheets/sticky.css', media='all')
  //- link(rel='stylesheet', type='text/css', href='/stylesheets/discovery.css', media='all')
  //- link(rel='stylesheet', type='text/css', href='/stylesheets/red-naut.css', media='all')
  //- link(rel='stylesheet', type='text/css', href='//www.redditstatic.com/reddit.-QJq92tU9mk.css', media='all')
  //- // [if gte IE 8] <!
  //- link(rel='stylesheet', href='http://b.thumbs.redditmedia.com/CUX_CkWXBZU_eEyxrXXiPcUDE1_Zj2yG5hsrOjL8vOw.css', title='applied_subreddit_stylesheet', type='text/css')
  //- // <![endif]
  //- // [if gte IE 9] <!
  //- script(type='text/javascript', src='//www.redditstatic.com/reddit-init.en.amVKk3JOvp4.js')
  //- // <![endif]
  //- //if lt IE 9
  //-   script(type='text/javascript', src='//www.redditstatic.com/reddit-init-legacy.en.oOlxam-H0AI.js')
  //- script#config(type='text/javascript').
  //-   r.setup({"ajax_domain": "www.reddit.com", "is_fake": false, "server_time": 1437320216.0, "post_site": "CoinAwesome", "clicktracker_url": "//pixel.redditmedia.com/click", "cache_policy": "loggedout_www", "facebook_app_id": "322647334569188", "renderstyle": "html", "modhash": false, "stats_domain": "https://stats.redditmedia.com", "store_visits": false, "anon_eventtracker_url": "//pixel.redditmedia.com/pixel/of_diversity.png", "cur_domain": "reddit.com", "has_subscribed": false, "send_logs": true, "gold": false, "is_sponsor": false, "pageInfo": {"actionName": "hot.GET_listing", "verification": "adfad553bf3b6c42e703170c536073e9c1f952f0"}, "uitracker_url": "//pixel.redditmedia.com/pixel/of_discovery.png", "https_forced": false, "https_endpoint": "https://www.reddit.com", "user_id": false, "eventtracker_url": "//pixel.redditmedia.com/pixel/of_delight.png", "extension": null, "status_msg": {"fetching": "fetching title...", "loading": "loading...", "submitting": "submitting..."}, "poisoning_canary": null, "logged": false, "stats_sample_rate": "5", "new_window": false, "tracker_url": "//pixel.redditmedia.com/pixel/of_destiny.png?v=aTHg%2BFtTh9SgoZuJDpQWbsqMaweNG0DzRFZvkDIiJgnYm26zzYa%2F2jOKHa03Ng%2FR0lb%2BqS%2FjKKI%3D", "vote_hash": "A0zR2/MLlq4z2blbbtNqZX0qZ/fy/oWJKNAOpCVf5DGWYvxBXb5WRQS8fK6VcHsvweRwkl55Mu1hpHLBXfEDcO8jXLWjJp79td9GJ7vCQT7rIybV5yBfqXxgcMJGa/NHsG/oVb7gxeA4VKWbAtENyndE3Lfi4rkyOD5yA9tscJ3GvJQCqvykDGY=", "poisoning_report_mac": null, "debug": false, "static_root": "//www.redditstatic.com", "adtracker_url": "//pixel.redditmedia.com/pixel/of_doom.png", "mweb_blacklist_expressions": ["^/prefs/?", "^/live/?", "/message/", "/wiki/?", "/m/", "^/subreddits/create", "/submit", "^/r/[^/]+/about/", "^/gold", "^/advertising", "^/promoted", "^/rules", "^/buttons"], "over_18": false})
  //- script(type='text/javascript').
  //-   reddit.cur_site = "t5_2s3qj";
  //- style(type='text/css').
  //-   /* Custom css: use this block to insert special translation-dependent css in the page header */
  //- script(type='text/javascript').
  //-   window.user_type = 'guest'; window.is_gold_page = 'False'.toLowerCase() === 'true';

  link(rel='apple-touch-icon', sizes='144x144', href='http://coinawesome.com/images/ico/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='http://coinawesome.com/images/ico/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='http://coinawesome.com/images/ico/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='http://coinawesome.com/images/ico/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='http://coinawesome.com/images/ico/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='http://coinawesome.com/images/ico/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='http://coinawesome.com/images/ico/favicon-16x16.png')
