doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='en', xml:lang='en')
  include rhead

  body.listing-page.hot-page
    include bodyStart

    a(name='content')
    .content(role='main')

      .spacer
        style.
          body >.content .link .rank, .rank-spacer { width: 6.2ex } body >.content .link .midcol, .midcol-spacer { width: 4.1ex } .adsense-wrap { background-color: #eff7ff; font-size: 18px; padding-left: 6.3ex; padding-right: 5px; };
          body .pagename a {  background-image: 'http://coinawesome.com/awesome/coinAwesomeBW50.png' !important}
        #siteTable.sitetable.linklisting
          include tipLate
          //- .thing.id-t3_3ekzi3.odd.link(onclick='click_thing(this)', data-fullname='t3_3ekzi3', data-cid='')
          //-   p.parent
          //-   span.rank
          //-   .midcol.unvoted
          //-     .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
          //-     .score.dislikes 470
          //-     .score.unvoted 471
          //-     .score.likes 472
          //-     .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
          //-   a.thumbnail.may-blank(href='https://twitter.com/MikeTyson/status/624986928690036737')
          //-     img(src='//a.thumbs.redditmedia.com/eJfzPTEq3qq9M3TLWJsT1jKxHeY1UU985oA0hSaNPR8.jpg', width='70', height='70', alt='')
          //-   .entry.unvoted
          //-     p.title
          //-       a.title.may-blank(href='https://twitter.com/MikeTyson/status/624986928690036737', tabindex='1') Mike Tyson on Twitter - Bitcoin ATM
          //-       span.domain
          //-         | (
          //-         a(href='/domain/twitter.com/') twitter.com
          //-         | )
          //-     p.tagline
          //-       | submitted 
          //-       time.live-timestamp(title='Sat Jul 25 18:34:49 2015 UTC', datetime='2015-07-25T18:34:49+00:00') 8 hours ago
          //-       |  by 
          //-       a.author.may-blank.id-t2_mz5ij(href='http://www.reddit.com/user/sedonayoda') sedonayoda
          //-       span.userattrs
          //-     ul.flat-list.buttons
          //-       li.first
          //-         a.comments.may-blank(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/') 109 comments
          //-       li.share
          //-         a.post-sharing-button(href='javascript: void 0;') share
          //-     .expando(style='display: none')
          //-       span.error loading...
          //-   .child
          //-   .clearleft
          //- .clearleft
        include commentarea

            //- .thing.id-t1_ctfwgvc.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctfwgvc')
            //-   p.parent
            //-     a(name='ctfwgvc')
            //-   .midcol.unvoted
            //-     .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-     .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-   .entry.unvoted
            //-     p.tagline
            //-       a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-       a.author.submitter.may-blank.id-t2_mz5ij(href='http://www.reddit.com/user/sedonayoda') sedonayoda
            //-       span.userattrs
            //-         | [
            //-         a.submitter(title='submitter', href='/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/') S
            //-         | ]
            //-       span.score.dislikes 141 points
            //-       span.score.unvoted 142 points
            //-       span.score.likes 143 points
            //-       time.live-timestamp(title='Sat Jul 25 18:39:24 2015 UTC', datetime='2015-07-25T18:39:24+00:00') 8 hours ago
            //-       a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (5 children)
            //-     form#form-t1_ctfwgvctcy.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-       input(type='hidden', name='thing_id', value='t1_ctfwgvc')
            //-       .usertext-body.may-blank-within.md-container
            //-         .md
            //-           p Keep Bitcoin Weird
            //-     ul.flat-list.buttons
            //-       li.first
            //-         a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctfwgvc', rel='nofollow') permalink
            //-       li.comment-save-button.save-button
            //-         a(href='javascript:void(0)') save
            //-       li.report-button
            //-         a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-       li.give-gold-button
            //-         a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctfwgvc', title='give reddit gold in appreciation of this post.') give gold
            //-       li.reply-button
            //-         a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-   .child
            //-     #siteTable_t1_ctfwgvc.sitetable.listing
            //-       .thing.id-t1_ctfxjq2.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctfxjq2')
            //-         p.parent
            //-           a(name='ctfxjq2')
            //-         .midcol.unvoted
            //-           .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-           .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-         .entry.unvoted
            //-           p.tagline
            //-             a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-             a.author.may-blank.id-t2_jiqg1(href='http://www.reddit.com/user/cryptomars') cryptomars
            //-             span.userattrs
            //-             span.score.dislikes 10 points
            //-             span.score.unvoted 11 points
            //-             span.score.likes 12 points
            //-             time.live-timestamp(title='Sat Jul 25 19:14:45 2015 UTC', datetime='2015-07-25T19:14:45+00:00') 7 hours ago
            //-             a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-           form#form-t1_ctfxjq2sqb.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-             input(type='hidden', name='thing_id', value='t1_ctfxjq2')
            //-             .usertext-body.may-blank-within.md-container
            //-               .md
            //-                 p There is no such thing as North Austin, it's South Dallas past Pflugerville.
            //-           ul.flat-list.buttons
            //-             li.first
            //-               a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctfxjq2', rel='nofollow') permalink
            //-             li.comment-save-button.save-button
            //-               a(href='javascript:void(0)') save
            //-             li
            //-               a.bylink(href='#ctfwgvc', rel='nofollow') parent
            //-             li.report-button
            //-               a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-             li.give-gold-button
            //-               a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctfxjq2', title='give reddit gold in appreciation of this post.') give gold
            //-             li.reply-button
            //-               a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-         .child
            //-         .clearleft
            //-       .clearleft
            //-       .thing.id-t1_ctg0n5e.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg0n5e')
            //-         p.parent
            //-           a(name='ctg0n5e')
            //-         .midcol.unvoted
            //-           .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-           .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-         .entry.unvoted
            //-           p.tagline
            //-             a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-             a.author.may-blank.id-t2_6g7o9(href='http://www.reddit.com/user/profBS') profBS
            //-             span.userattrs
            //-             span.score.dislikes 5 points
            //-             span.score.unvoted 6 points
            //-             span.score.likes 7 points
            //-             time.live-timestamp(title='Sat Jul 25 20:56:29 2015 UTC', datetime='2015-07-25T20:56:29+00:00') 5 hours ago
            //-             a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (3 children)
            //-           form#form-t1_ctg0n5efuw.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-             input(type='hidden', name='thing_id', value='t1_ctg0n5e')
            //-             .usertext-body.may-blank-within.md-container
            //-               .md
            //-                 p This man is wise, like Satoshi.
            //-                 p
            //-                   | "Sometimes I put on a ski mask and dress in old clothes, go out on the streets and beg for quarters."
            //-                 p "I just want to conquer people and their souls."
            //-                 p
            //-                   | Read more at 
            //-                   a(href='http://www.brainyquote.com/quotes/authors/m/mike_tyson.html') http://www.brainyquote.com/quotes/authors/m/mike_tyson.html
            //-           ul.flat-list.buttons
            //-             li.first
            //-               a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg0n5e', rel='nofollow') permalink
            //-             li.comment-save-button.save-button
            //-               a(href='javascript:void(0)') save
            //-             li
            //-               a.bylink(href='#ctfwgvc', rel='nofollow') parent
            //-             li.report-button
            //-               a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-             li.give-gold-button
            //-               a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg0n5e', title='give reddit gold in appreciation of this post.') give gold
            //-             li.reply-button
            //-               a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-         .child
            //-           #siteTable_t1_ctg0n5e.sitetable.listing
            //-             .thing.id-t1_ctg2dwl.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg2dwl')
            //-               p.parent
            //-                 a(name='ctg2dwl')
            //-               .midcol.unvoted
            //-                 .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-                 .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-               .entry.unvoted
            //-                 p.tagline
            //-                   a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-                   a.author.may-blank.id-t2_9axi8(href='http://www.reddit.com/user/unsafeword') unsafeword
            //-                   span.userattrs
            //-                   span.score.dislikes 11 points
            //-                   span.score.unvoted 12 points
            //-                   span.score.likes 13 points
            //-                   time.live-timestamp(title='Sat Jul 25 21:52:52 2015 UTC', datetime='2015-07-25T21:52:52+00:00') 4 hours ago
            //-                   a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (2 children)
            //-                 form#form-t1_ctg2dwl8ol.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-                   input(type='hidden', name='thing_id', value='t1_ctg2dwl')
            //-                   .usertext-body.may-blank-within.md-container
            //-                     .md
            //-                       p What if Mike Tyson was Satoshi all this time?
            //-                       p I'm off to edit wikipedia...
            //-                 ul.flat-list.buttons
            //-                   li.first
            //-                     a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg2dwl', rel='nofollow') permalink
            //-                   li.comment-save-button.save-button
            //-                     a(href='javascript:void(0)') save
            //-                   li
            //-                     a.bylink(href='#ctg0n5e', rel='nofollow') parent
            //-                   li.report-button
            //-                     a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-                   li.give-gold-button
            //-                     a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg2dwl', title='give reddit gold in appreciation of this post.') give gold
            //-                   li.reply-button
            //-                     a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-               .child
            //-                 #siteTable_t1_ctg2dwl.sitetable.listing
            //-                   .thing.id-t1_ctg3fob.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg3fob')
            //-                     p.parent
            //-                       a(name='ctg3fob')
            //-                     .midcol.unvoted
            //-                       .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-                       .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-                     .entry.unvoted
            //-                       p.tagline
            //-                         a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-                         a.author.may-blank.id-t2_6g7o9(href='http://www.reddit.com/user/profBS') profBS
            //-                         span.userattrs
            //-                         span.score.dislikes 2 points
            //-                         span.score.unvoted 3 points
            //-                         span.score.likes 4 points
            //-                         time.live-timestamp(title='Sat Jul 25 22:26:44 2015 UTC', datetime='2015-07-25T22:26:44+00:00') 4 hours ago
            //-                         a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-                       form#form-t1_ctg3foba4i.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-                         input(type='hidden', name='thing_id', value='t1_ctg3fob')
            //-                         .usertext-body.may-blank-within.md-container
            //-                           .md
            //-                             p BitoffEvanderHolyfield'searCoin
            //-                       ul.flat-list.buttons
            //-                         li.first
            //-                           a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg3fob', rel='nofollow') permalink
            //-                         li.comment-save-button.save-button
            //-                           a(href='javascript:void(0)') save
            //-                         li
            //-                           a.bylink(href='#ctg2dwl', rel='nofollow') parent
            //-                         li.report-button
            //-                           a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-                         li.give-gold-button
            //-                           a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg3fob', title='give reddit gold in appreciation of this post.') give gold
            //-                         li.reply-button
            //-                           a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-                     .child
            //-                     .clearleft
            //-                   .clearleft
            //-                   .thing.id-t1_ctg9ail.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg9ail')
            //-                     p.parent
            //-                       a(name='ctg9ail')
            //-                     .midcol.unvoted
            //-                       .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-                       .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-                     .entry.unvoted
            //-                       p.tagline
            //-                         a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-                         a.author.may-blank.id-t2_evg6i(href='http://www.reddit.com/user/BitcoinOdyssey') BitcoinOdyssey
            //-                         span.userattrs
            //-                         span.score.dislikes 0 points
            //-                         span.score.unvoted 1 point
            //-                         span.score.likes 2 points
            //-                         time.live-timestamp(title='Sun Jul 26 01:40:59 2015 UTC', datetime='2015-07-26T01:40:59+00:00') 1 hour ago
            //-                         a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-                       form#form-t1_ctg9ailra4.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-                         input(type='hidden', name='thing_id', value='t1_ctg9ail')
            //-                         .usertext-body.may-blank-within.md-container
            //-                           .md
            //-                             p You need Leah to sort it out.
            //-                       ul.flat-list.buttons
            //-                         li.first
            //-                           a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg9ail', rel='nofollow') permalink
            //-                         li.comment-save-button.save-button
            //-                           a(href='javascript:void(0)') save
            //-                         li
            //-                           a.bylink(href='#ctg2dwl', rel='nofollow') parent
            //-                         li.report-button
            //-                           a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-                         li.give-gold-button
            //-                           a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg9ail', title='give reddit gold in appreciation of this post.') give gold
            //-                         li.reply-button
            //-                           a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-                     .child
            //-                     .clearleft
            //-                   .clearleft
            //-               .clearleft
            //-             .clearleft
            //-         .clearleft
            //-       .clearleft
            //-   .clearleft
            //- .clearleft
            //- .thing.id-t1_ctfx4zm.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctfx4zm')
            //-   p.parent
            //-     a(name='ctfx4zm')
            //-   .midcol.unvoted
            //-     .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-     .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-   .entry.unvoted
            //-     p.tagline
            //-       a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-       a.author.may-blank.id-t2_p11si(href='http://www.reddit.com/user/Bi7coin') Bi7coin
            //-       span.userattrs
            //-       span.score.dislikes 70 points
            //-       span.score.unvoted 71 points
            //-       span.score.likes 72 points
            //-       time.live-timestamp(title='Sat Jul 25 19:01:21 2015 UTC', datetime='2015-07-25T19:01:21+00:00') 7 hours ago
            //-       a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (7 children)
            //-     form#form-t1_ctfx4zmx7d.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-       input(type='hidden', name='thing_id', value='t1_ctfx4zm')
            //-       .usertext-body.may-blank-within.md-container
            //-         .md
            //-           p It also bites your ear off if you try a double spend attack.
            //-     ul.flat-list.buttons
            //-       li.first
            //-         a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctfx4zm', rel='nofollow') permalink
            //-       li.comment-save-button.save-button
            //-         a(href='javascript:void(0)') save
            //-       li.report-button
            //-         a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-       li.give-gold-button
            //-         a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctfx4zm', title='give reddit gold in appreciation of this post.') give gold
            //-       li.reply-button
            //-         a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-   .child
            //-     #siteTable_t1_ctfx4zm.sitetable.listing
            //-       .thing.id-t1_ctfx75e.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctfx75e')
            //-         p.parent
            //-           a(name='ctfx75e')
            //-         .midcol.unvoted
            //-           .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-           .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-         .entry.unvoted
            //-           p.tagline
            //-             a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-             a.author.may-blank.id-t2_h504a(href='http://www.reddit.com/user/MrDogeMeister') MrDogeMeister
            //-             span.userattrs
            //-             span.score.dislikes 57 points
            //-             span.score.unvoted 58 points
            //-             span.score.likes 59 points
            //-             time.live-timestamp(title='Sat Jul 25 19:03:15 2015 UTC', datetime='2015-07-25T19:03:15+00:00') 7 hours ago
            //-             time.edited-timestamp(title='last edited 7 hours ago', datetime='2015-07-25T19:09:55+00:00') *
            //-             a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (1 child)
            //-           form#form-t1_ctfx75e53d.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-             input(type='hidden', name='thing_id', value='t1_ctfx75e')
            //-             .usertext-body.may-blank-within.md-container
            //-               .md
            //-                 p Adds a whole new meaning to BITcoin.
            //-           ul.flat-list.buttons
            //-             li.first
            //-               a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctfx75e', rel='nofollow') permalink
            //-             li.comment-save-button.save-button
            //-               a(href='javascript:void(0)') save
            //-             li
            //-               a.bylink(href='#ctfx4zm', rel='nofollow') parent
            //-             li.report-button
            //-               a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-             li.give-gold-button
            //-               a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctfx75e', title='give reddit gold in appreciation of this post.') give gold
            //-             li.reply-button
            //-               a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-         .child
            //-           #siteTable_t1_ctfx75e.sitetable.listing
            //-             .thing.id-t1_ctg6pq7.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg6pq7')
            //-               p.parent
            //-                 a(name='ctg6pq7')
            //-               .midcol.unvoted
            //-                 .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-                 .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-               .entry.unvoted
            //-                 p.tagline
            //-                   a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-                   a.author.may-blank.id-t2_8k3o7(href='http://www.reddit.com/user/IGETSHIVERSWHENIP') IGETSHIVERSWHENIP
            //-                   span.userattrs
            //-                   span.score.dislikes 2 points
            //-                   span.score.unvoted 3 points
            //-                   span.score.likes 4 points
            //-                   time.live-timestamp(title='Sun Jul 26 00:14:23 2015 UTC', datetime='2015-07-26T00:14:23+00:00') 2 hours ago
            //-                   a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-                 form#form-t1_ctg6pq7u3n.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-                   input(type='hidden', name='thing_id', value='t1_ctg6pq7')
            //-                   .usertext-body.may-blank-within.md-container
            //-                     .md
            //-                       p HAYOOOOOO!!!
            //-                 ul.flat-list.buttons
            //-                   li.first
            //-                     a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg6pq7', rel='nofollow') permalink
            //-                   li.comment-save-button.save-button
            //-                     a(href='javascript:void(0)') save
            //-                   li
            //-                     a.bylink(href='#ctfx75e', rel='nofollow') parent
            //-                   li.report-button
            //-                     a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-                   li.give-gold-button
            //-                     a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg6pq7', title='give reddit gold in appreciation of this post.') give gold
            //-                   li.reply-button
            //-                     a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-               .child
            //-               .clearleft
            //-             .clearleft
            //-         .clearleft
            //-       .clearleft
            //-       .thing.id-t1_ctg1lf3.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg1lf3')
            //-         p.parent
            //-           a(name='ctg1lf3')
            //-         .midcol.unvoted
            //-           .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-           .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-         .entry.unvoted
            //-           p.tagline
            //-             a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-             a.author.may-blank.id-t2_ax8y7(href='http://www.reddit.com/user/nanoakron') nanoakron
            //-             span.userattrs
            //-             span.score.dislikes 4 points
            //-             span.score.unvoted 5 points
            //-             span.score.likes 6 points
            //-             time.live-timestamp(title='Sat Jul 25 21:27:19 2015 UTC', datetime='2015-07-25T21:27:19+00:00') 5 hours ago
            //-             a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-           form#form-t1_ctg1lf3sm6.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-             input(type='hidden', name='thing_id', value='t1_ctg1lf3')
            //-             .usertext-body.may-blank-within.md-container
            //-               .md
            //-                 p
            //-                   a(href='/u/changetip') /u/changetip
            //-                   |  1000 bits
            //-                 p Megalol
            //-           ul.flat-list.buttons
            //-             li.first
            //-               a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg1lf3', rel='nofollow') permalink
            //-             li.comment-save-button.save-button
            //-               a(href='javascript:void(0)') save
            //-             li
            //-               a.bylink(href='#ctfx4zm', rel='nofollow') parent
            //-             li.report-button
            //-               a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-             li.give-gold-button
            //-               a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg1lf3', title='give reddit gold in appreciation of this post.') give gold
            //-             li.reply-button
            //-               a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-         .child
            //-         .clearleft
            //-       .clearleft
            //-       .thing.id-t1_ctfxcyq.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctfxcyq')
            //-         p.parent
            //-           a(name='ctfxcyq')
            //-         .midcol.unvoted
            //-           .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-           .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-         .entry.unvoted
            //-           p.tagline
            //-             a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-             a.author.may-blank.id-t2_3cc3r(href='http://www.reddit.com/user/kilorat') kilorat
            //-             span.userattrs
            //-             span.score.dislikes 3 points
            //-             span.score.unvoted 4 points
            //-             span.score.likes 5 points
            //-             time.live-timestamp(title='Sat Jul 25 19:08:35 2015 UTC', datetime='2015-07-25T19:08:35+00:00') 7 hours ago
            //-             a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-           form#form-t1_ctfxcyq8q7.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-             input(type='hidden', name='thing_id', value='t1_ctfxcyq')
            //-             .usertext-body.may-blank-within.md-container
            //-               .md
            //-                 p Do pigeons pick up the money?
            //-           ul.flat-list.buttons
            //-             li.first
            //-               a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctfxcyq', rel='nofollow') permalink
            //-             li.comment-save-button.save-button
            //-               a(href='javascript:void(0)') save
            //-             li
            //-               a.bylink(href='#ctfx4zm', rel='nofollow') parent
            //-             li.report-button
            //-               a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-             li.give-gold-button
            //-               a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctfxcyq', title='give reddit gold in appreciation of this post.') give gold
            //-             li.reply-button
            //-               a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-         .child
            //-         .clearleft
            //-       .clearleft
            //-       .thing.id-t1_ctg1z3w.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg1z3w')
            //-         p.parent
            //-           a(name='ctg1z3w')
            //-         .midcol.unvoted
            //-           .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-           .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-         .entry.unvoted
            //-           p.tagline
            //-             a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-             a.author.may-blank.id-t2_fy23c(href='http://www.reddit.com/user/bitsko') bitsko
            //-             span.userattrs
            //-             span.score.dislikes 1 point
            //-             span.score.unvoted 2 points
            //-             span.score.likes 3 points
            //-             time.live-timestamp(title='Sat Jul 25 21:39:34 2015 UTC', datetime='2015-07-25T21:39:34+00:00') 5 hours ago
            //-             a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-           form#form-t1_ctg1z3w90j.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-             input(type='hidden', name='thing_id', value='t1_ctg1z3w')
            //-             .usertext-body.may-blank-within.md-container
            //-               .md
            //-                 p
            //-                   | I'm glad I scrolled down before I posted 'bites the ear off the traditional payment industry'
            //-           ul.flat-list.buttons
            //-             li.first
            //-               a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg1z3w', rel='nofollow') permalink
            //-             li.comment-save-button.save-button
            //-               a(href='javascript:void(0)') save
            //-             li
            //-               a.bylink(href='#ctfx4zm', rel='nofollow') parent
            //-             li.report-button
            //-               a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-             li.give-gold-button
            //-               a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg1z3w', title='give reddit gold in appreciation of this post.') give gold
            //-             li.reply-button
            //-               a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-         .child
            //-         .clearleft
            //-       .clearleft
            //-       .thing.id-t1_ctg4trx.noncollapsed.comment(onclick='click_thing(this)', data-fullname='t1_ctg4trx')
            //-         p.parent
            //-           a(name='ctg4trx')
            //-         .midcol.unvoted
            //-           .arrow.up.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='upvote', tabindex='0')
            //-           .arrow.down.login-required(onclick='$(this).vote(r.config.vote_hash, null, event)', role='button', aria-label='downvote', tabindex='0')
            //-         .entry.unvoted
            //-           p.tagline
            //-             a.expand(href='javascript:void(0)', onclick='return togglecomment(this)') [–]
            //-             a.author.may-blank.id-t2_e6ly3(href='http://www.reddit.com/user/twfry') twfry
            //-             span.userattrs
            //-             span.score.dislikes 0 points
            //-             span.score.unvoted 1 point
            //-             span.score.likes 2 points
            //-             time.live-timestamp(title='Sat Jul 25 23:12:25 2015 UTC', datetime='2015-07-25T23:12:25+00:00') 3 hours ago
            //-             a.numchildren(href='javascript:void(0)', onclick='return togglecomment(this)') (0 children)
            //-           form#form-t1_ctg4trxbfs.usertext(action='#', onsubmit="return post_form(this, 'editusertext')")
            //-             input(type='hidden', name='thing_id', value='t1_ctg4trx')
            //-             .usertext-body.may-blank-within.md-container
            //-               .md
            //-                 p Slow clapping, well done
            //-           ul.flat-list.buttons
            //-             li.first
            //-               a.bylink(href='http://www.reddit.com/r/Bitcoin/comments/3ekzi3/mike_tyson_on_twitter_bitcoin_atm/ctg4trx', rel='nofollow') permalink
            //-             li.comment-save-button.save-button
            //-               a(href='javascript:void(0)') save
            //-             li
            //-               a.bylink(href='#ctfx4zm', rel='nofollow') parent
            //-             li.report-button
            //-               a.action-thing(href='javascript:void(0)', data-action-form='#report-action-form') report
            //-             li.give-gold-button
            //-               a.give-gold.login-required(href='/gold?goldtype=gift&months=1&thing=t1_ctg4trx', title='give reddit gold in appreciation of this post.') give gold
            //-             li.reply-button
            //-               a(href='javascript:void(0)', onclick='return reply(this)') reply
            //-         .child
            //-         .clearleft
            //-       .clearleft
            //-   .clearleft
            //- .clearleft


          //-.nav-buttons
            span.nextprev
              | view more: 
              a(href='/#{pageType}/?page=#{pageNum+1}', rel='nofollow next') next ›
    include rfooter