.jumbotron
    h1 BitID demonstration
      p.lead
        | With BitID you can sign up to any service. It&apos;s secure, quick and easy. Please have your wallet ready !
      p
        a.btn.btn-lg.btn-success(href='/login', role='button') Sign me in with my Bitcoin address
