html
	include ../rhead
	body
		include ../bodyStart
		p 
			h1 Welcome #{currentUser.address} 
		//- p.lead Your Bitcoin address is #{currentUser.address }
		p Sign in count : #{currentUser.signinCount}
		p
			h3
				a.btn.btn-lg.btn-success(href='/logout', data-method='delete', role='button') Log out
